
<section id="map" class="map"></section>

<footer class="footer">
    <p class="footer-copy">© Pravda studio. 2B.GROUP. All Rights Reserved</p>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhlDD8JJd35i5hX-4td4MSBU0L3XM5USc"
        type="text/javascript"></script>
<script src="../assets/js/vendor/jquery.js"></script>
<script src="../assets/js/vendor/owl.js"></script>
<script src="../assets/js/bundle.js"></script>

</body>
</html>